.myCourses__area {
  // background-color: yellowgreen;
  margin: 5rem 2rem;

  display: grid;
  grid-template-columns: repeat(4, minmax(20rem, 1fr));
  grid-template-rows: repeat(3, minmax(18rem, max-content));
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
  background-color: $color-white;

  &__card {
    background-color: $color-grey-light-1;
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-row-gap: 1rem;
    justify-items: center;
    align-items: flex-start;
    overflow: hidden;
  
    &--img {
      width: 100%;
      grid-row: 1 / 2;
      grid-column: 1 /-1;
      z-index: 1;
    }
    &--name {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      justify-self: center;
      align-self: end;
      z-index: 3;
  
      width: 80%;
      font-family: $font-display;
      font-size: 1.6rem;
      text-align: center;
      padding: 1rem;
      margin: 0;
      background-color: $color-secondary;
      color: #fff;
      font-weight: 400;
      opacity: 0.7;
      transform: translateY(-50%);
    }
    &--title {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      justify-self: center;
      font-size: 1.4rem;
      font-weight: 400;
      color: $color-secondary;
    }
  
    &--add {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      cursor: pointer;
      svg {
        fill: $color-primary;
        height: 5rem;
        width: 5rem;
        z-index: 2;
      }
      justify-self: center;
      align-self: flex-end;
      margin: 1rem;
    }
  }
}

.course__info {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  border-right: 1px solid $color-grey-light-3;
  overflow-y: scroll;
  height: 80rem;

  display: grid;
  grid-template-rows: max-content 1fr;
  
}

.course__learn {
  // background-color: blueviolet;
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6fr 4fr;
//   grid-gap: 1rem;
}

.video-block {
  margin: 1.5rem 3rem;
  // border-radius:5px;
//   border-bottom: 2px solid $color-grey-dark-3;
  width: 90%;
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  // video::-webkit-media-controls-enclosure {overflow:hidden;}
  // video::-webkit-media-controls-panel {width: calc(100% + 30px);}
   
}



.rs-card {
  background-color: $color-grey-light-1;
  border-radius: 10px;
  

  display: grid;
  grid-template-columns: repeat(2,1fr);
  // grid-row-gap: 1rem;
  justify-items: center;
  align-items: flex-start;
  overflow: hidden;

  &__img {
      width: 100%;
      grid-row: 1 / -1;
      grid-column: 1 /-1;
      z-index: 1;
  }
  &__name {

      grid-row: 1 / -1;
      grid-column: 1 / -1;
      
      justify-self: center;
      align-self: end;
      z-index: 3;

      width: 80%;
      font-family: $font-display;
      font-size: 1rem;
      text-align: center;
      padding: 1rem;
      margin: 0;
      background-color: $color-secondary;
      color: #fff;
      font-weight: 400;
      opacity: .7;
      transform: translateY(-50%);
  }
  &__title {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      justify-self: center;

      // font-family: initial;
      font-size: 1.4rem;
      font-weight: 400;
      // margin-top: 2.5rem;
      color: $color-secondary;
  }
}

.iblock {
    border-top: 1px solid $color-grey-light-3;
    &__header {
        border-bottom: 1px solid $color-grey-light-3;
    }
    &__content {
        padding-top: 2rem;
        display: grid;
        grid-template-columns: 10rem 1fr;
    }
    &__left {
        font-size: 1.4rem;
    }
    &__detail {
        font-size: 1.4rem;
        font-weight: 300;
    }
    &__nav {
        list-style: none;
        display: flex;
        justify-items: center;
        &__item {
          height: 2rem;
          width: 10rem;
          padding: 2rem 0;
        }
        &__item--active,
        &__item:hover {
          background-color: $color-grey-light-3;
        }
        &__link:link,
        &__link:visited {
          font-size: 1.4rem;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          color:$color-secondary;
          display: block;
          transition: all 0.2s;
        }
        &__link:active {
          background-color: rgba(#fff, 0.1);
          transform: translateY(1px);
        }
      }
}

.course__block {
  // margin-top: 3rem;
  // margin-left: 2rem;
  // margin-right: 2rem;
  margin-bottom: 2rem;
//   border-bottom: 1px solid $color-grey-dark-3;
}
.course__tutor {
  background-color: $color-grey-light-4;
  // box-shadow: 0px 3px 3px $color-grey-dark-2;
  // border-radius: 10px;
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-items: start;
  align-items: center;
  &-photo {
    height: 3.5rem;
    padding-top: 0.5rem;
    border-radius: 50%;
    margin-left: 2rem;
  }

  svg {
    fill: $color-primary;
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
  }

  &-intro {
    // padding-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    letter-spacing: 1rem;
    // grid-template-rows: repeat(2,1fr);
  }

  &-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: color-grey-dark-2;
  }

  // &-title {
  //     margin-top: .5rem;
  //     color: color-grey-dark-4;
  // }
}

.cs {
  // background-color: yellowgreen;
  &__header {
    background-color: $color-grey-light-4;
    height: 2rem;
    padding: 2rem 0;
    box-shadow: 0px 1px 1px $color-grey-light-6;
    display: flex;
    justify-content: space-between;
    // align-content: center;
    &-text {
      font-size: 1.6rem;
      font-weight: 400;
      margin-left: 2rem;
    }
    svg {
      fill: $color-primary;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
  }

  &__list {
    font-size: 1.4rem;
    font-weight: 400;
    &__title {
      background-color: $color-grey-light-1;
      height: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;

      display: grid;
      grid-template-columns: 9fr 1fr;

      &--text {
        display: flex;
        flex-direction: column;
      }
    }

    &__nav {
      list-style: none;
      &__item {
        background-color: #fff;
        height: 2rem;
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 8fr;
        transition: all 0.2s;
      }
      &__item:hover {
        background-color: $color-grey-light-0;
      }
      &__link:link,
      &__link:visited {
        font-size: 1.4rem;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        color:$color-grey-dark-2;
        // padding: 1.5rem;
        display: block;
        transition: all 0.2s;
      }
      &__link:active {
        background-color: rgba(#fff, 0.1);
        transform: translateY(1px);
      }
    }
  }
}
